<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shopping Cart</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link href="https://fonts.googleapis.com/css2?family=Almendra+SC&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />

  <style>
    body {
      background-color: #001131;
      color: rgb(0, 0, 0);
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      
    }

    #content {
      flex: 1;
      min-height: calc(100vh - 200px);
    }

    .navbar {
      background-color: #1d1e1e;
      position: relative;
      z-index: 1020;
    }

    .navbar-brand {
      font-family: 'Almendra SC', serif;
      color: #FFDD00;
    }

    .navbar,
    .navbar .nav-link,
    .navbar .navbar-text {
      color: white;
    }

    .navbar .nav-link:hover,
    .navbar .nav-link:focus,
    .navbar .dropdown-item {
      color: #ffdd00;
    }

    .navbar .dropdown-menu {
      background-color: #1d1e1e;
      z-index: 1050;
    }

    .navbar .dropdown-item {
      color: white;
    }

    .navbar .dropdown-item:hover {
      background-color: #ffdd00;
      color: #000000;
    }

    .navbar .navbar-toggler .navbar-toggler-icon {
      color: #ffffff;
    }

    .form-inline .form-control {
      border: none;
      margin-left: 50px;
    }

    .input-group-append {
      padding-left: 20px;
    }

    .rounded-pill {
      border-radius: 50px !important;
    }

    .rounded-pill .input-group-append .btn {
      border-top-right-radius: 50px !important;
      border-bottom-right-radius: 50px !important;
    }

    .second-nav {
      background-color: rgba(0, 0, 0, 0.822);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000;
    }

    .second-nav .nav-link {
      text-transform: capitalize;
    }

    .carousel-inner img {
      width: 100%;
      height: 700px;
      object-fit: cover;
    }

    .nav-item .fa-solid:hover {
      color: #FFDD00;
    }

    .custom-navbar.navbar-nav {
      margin-top: 0;
    }

    .custom-navbar.nav-link {
      color: #333;
      transition: color 0.3s ease-in-out;
    }

    .custom-navbar.nav-link:hover {
      color: #FFDD00;
    }

    .material-symbols-outlined {
      margin-bottom: 2px;
      color: #FFDD00;
    }

    .gradient-custom {
      background: #6a11cb;
      background: -webkit-linear-gradient(to right, rgb(0, 30, 90), rgb(0, 52, 142));
      background: linear-gradient(to right, rgb(0, 30, 90), rgb(0, 54, 147));
    }

    .footer {
      background-color: #000;
      color: #fff;
      padding: 20px 0;
      margin-top: auto;
    }

    .footer a:hover {
      color: yellow;
    }

    .quantity-input {
      display: flex;
      align-items: center;
    }

    .quantity-input button {
      width: 35px;
      height: 35px;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .quantity-input input {
      width: 50px;
      height: 35px;
      text-align: center;
      border: 1px solid #ddd;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg">
    <a href="/" class="logo" style="text-decoration: none;">
        <div class="navbar-brand-container d-flex align-items-center">
            <div class="navbar-brand">Quartz
                <span class="material-symbols-outlined ms-2">watch_wake</span>
                Men
            </div>
        </div>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <form class="form-inline mx-auto" action="/search" method="GET">
            <div class="input-group">
                <input type="text" name="q" class="form-control border-0 rounded-pill bg-white text-black"
                    placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary rounded-pill" type="submit">
                        <i class="fas fa-search text-white"></i>
                    </button>
                </div>
            </div>
        </form>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/wishlist" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="fa-solid fa-heart"></i>
                </a>
            </li>
            <% if (loggedIn) { %>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/profile" role="button" aria-haspopup="true"
                    aria-expanded="false">
                        <i class="fa-solid fa-user"></i>
                    </a>
                </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup"><i class="fa-solid fa-user"></i>Sign Up</a>
                    </li>
                    <% } %>
                        <li class="nav-item">
                            <a class="nav-link" href="/cart" role="button" aria-haspopup="true"
                                aria-expanded="false">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </a>
                        </li>
        </ul>
    </div>
</nav>

  <section class="h-100 gradient-custom">
    <div class="container py-5">
      <div class="row d-flex justify-content-center my-4">
        <div class="col-md-8">
          <div class="card mb-4">
            <div class="card-header py-3">
              <h5 class="mb-0">
                Cart - <%= items.length %> items
              </h5>
            </div>

            <% if (items.length === 0 || grandTotal === 0) { %>
              <div class="card-body text-center">
                <h3>The Cart Is Empty</h3>
              </div>
            <% } else { %>
              <div class="card-body">
                <% let grandTotal = 0; %>
                <% items.forEach(item => { %>
                  <div class="row mb-4">
                    <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                      <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                        <% if (item.product.image && item.product.image.length > 0) { %>
                          <img src="/uploads/<%= item.product.image[0] %>" class="w-100" alt="<%= item.product.name %>" />
                        <% } else { %>
                          <img src="/path/to/default-image.jpg" class="w-100" alt="Default Image" />
                        <% } %>
                        <a href="#!">
                          <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                        </a>
                      </div>
                    </div>
                    <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                      <p><strong><%= item.product.name %></strong></p>
                      <p>Brand: <%= item.product.brand %></p>
                      <p>Material: <%= item.product.strapMaterial %></p>
                      <p>Product Price: <%= item.product.price %></p>
                      <a href="#" class="btn btn-primary btn-sm me-1 mb-2 btn-remove-item" data-itemid="<%= item._id %>" title="Remove item">
                        <i class="fas fa-trash"></i>
                      </a>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                      <div class="d-flex mb-4" style="max-width: 300px">
                        <div class="form-outline">
                          <div class="quantity-input">

                            <h5>Quantity: <%= item.quantity %></h5>

                          </div>
                        </div>
                      </div>
                      <p class="text-start text-md-center" id="price_<%= item._id %>">
                        <strong>₹<%= (item.product.price * item.quantity).toFixed(2) %></strong>
                      </p>
                    </div>
                  </div>
                  <% grandTotal += item.product.price * item.quantity; %>
                  <hr class="my-4" />
                <% }); %>
              </div>
            <% } %>
          </div>
        </div>
  
        <% if (items.length !== 0 && grandTotal > 0) { %>
          <div class="col-md-4">
            <div class="card mb-4">
              <div class="card-header py-3">
                <h5 class="mb-0">Summary</h5>
              </div>
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                    Products
                    <span>₹<%= grandTotal.toFixed(2) %></span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                    Shipping
                    <span>Free</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                    <div>
                      <strong>Total amount</strong>
                      <strong>
                        <p class="mb-0">(including VAT)</p>
                      </strong>
                    </div>
                    <span id="grand-total"><strong>₹<%= grandTotal.toFixed(2) %></strong></span>
                  </li>
                </ul>
                <a href="/checkout" class="btn btn-primary btn-lg btn-block">Proceed to Checkout</a>
              </div>
            </div>
          </div>
          
        <% } %>
      </div>
    </div>
  </section>

          <!-- Footer -->
          <footer class="footer text-center text-lg-start mt-auto">
            <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom" style="border-color: rgba(255, 255, 255, 0.15);">
              <div class="me-5 d-none d-lg-block">
                <span>Get connected with us on social networks:</span>
              </div>
        
              <div>
                <a href="" class="me-4 text-reset text-white">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="me-4 text-reset text-white">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="me-4 text-reset text-white">
                  <i class="fab fa-google"></i>
                </a>
                <a href="" class="me-4 text-reset text-white">
                  <i class="fab fa-instagram"></i>
                </a>
                <a href="" class="me-4 text-reset text-white">
                  <i class="fab fa-linkedin"></i>
                </a>
                <a href="" class="me-4 text-reset text-white">
                  <i class="fab fa-github"></i>
                </a>
              </div>
            </section>
        
            <section class="container text-center text-md-start mt-5">
              <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                  <h6 class="text-uppercase fw-bold mb-4">
                    QuartzMen
                  </h6>
                  <p>
                    Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit.
                  </p>
                </div>
        
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        
                  <h6 class="text-uppercase fw-bold mb-4">
                    Categories
                  </h6>
                  <p>
                    <a href="#!" class="text-reset text-white">Automatic</a>
                  </p>
                  <p>
                    <a href="#!" class="text-reset text-white">Digital</a>
                  </p>
                  <p>
                    <a href="#!" class="text-reset text-white">Quartz</a>
                  </p>
                  <p>
                    <a href="#!" class="text-reset text-white">Analog</a>
                  </p>
                </div>
        
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        
                  <h6 class="text-uppercase fw-bold mb-4">
                    Useful links
                  </h6>
                  <p>
                    <a href="#!" class="text-reset text-white">Pricing</a>
                  </p>
                  <p>
                    <a href="#!" class="text-reset text-white">Settings</a>
                  </p>
                  <p>
                    <a href="#!" class="text-reset text-white">Orders</a>
                  </p>
                  <p>
                    <a href="#!" class="text-reset text-white">Help</a>
                  </p>
                </div>
        
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                  <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                  <p><i class="fas fa-home me-3"></i> Dot Space, NY 10012, Trivandrum</p>
                  <p>
                    <i class="fas fa-envelope me-3"></i>
                    info@example.com
                  </p>
                  <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                  <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
                </div>
        
              </div>
            </section>
        
            <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.2);">
              © 2021 Copyright:
              <a class="text-reset fw-bold" href="https://mdbootstrap.com/" style="color: #ffffff;">MDBootstrap.com</a>
            </div>
        
          </footer>
  

  <!-- Your existing footer -->

  <script>
    document.addEventListener('DOMContentLoaded', function() {

      document.querySelectorAll('.btn-remove-item').forEach(button => {
        button.addEventListener('click', function() {
          const itemId = this.dataset.itemid;

          fetch(`/cartRemove/${itemId}`, {
            method: 'POST'
          })
          .then(response => response.json())
          .then(data => {
            if (data.success) {
              location.reload(); // Reload the page to update the cart
            } else {
              alert('Error removing item from cart');
            }
          })
          .catch(error => {
            console.error('Error:', error);
          });
        });
      });
    });


    async function updateQuantity(itemId, price) {
  const quantity = document.getElementById(`quantity_${itemId}`).value;

  try {
    const response = await fetch('/cartUpdate', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ productId: itemId, quantity: quantity }),
    });

    const data = await response.json();

    if (response.ok) {
      const newPrice = price * quantity;
      document.getElementById(`price_${itemId}`).innerText = `₹${newPrice.toFixed(2)}`; // Ensure currency symbol
      document.getElementById("grand-total").innerText = `₹${data.grandTotal.toFixed(2)}`; // Update grand total
    } else {
      alert(data.error);
    }
  } catch (error) {
    console.error('Error updating quantity:', error);
  }
}

  </script>
</body>
</html>