<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watch page</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/css2?family=Almendra+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Custom CSS -->
    <style>
        html, body {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
        }

        body {
            background-color: #001131;
            color: white;
        }

        #content {
            flex: 1;
            min-height: calc(100vh - 200px);
        }

        .navbar {
            background-color: #1d1e1e;
        }

        .navbar-brand {
            font-family: 'Almendra SC', serif;
            color: #FFDD00;
        }

        .navbar,
        .navbar .nav-link,
        .navbar .navbar-text {
            color: white;
        }

        .navbar .nav-link:hover,
        .navbar .nav-link:focus,
        .navbar .dropdown-item {
            color: #ffdd00;
        }

        .navbar .dropdown-menu {
            background-color: #1d1e1e;
        }

        .navbar .dropdown-item {
            color: white;
        }

        .navbar .dropdown-item:hover {
            background-color: #ffdd00;
            color: #000000;
        }

        .navbar .navbar-toggler .navbar-toggler-icon {
            color: #ffffff;
        }

        .second-nav {
            background-color: #25a0a0;
        }

        .carousel-inner img {
            width: 100%;
            height: 700px;
            object-fit: cover;
        }

        .nav-item .fa-solid:hover {
            color: #FFDD00;
        }

        .custom-navbar.navbar-nav {
            margin-top: 0;
        }

        .custom-navbar.nav-link {
            color: #333;
            transition: color 0.3s ease-in-out;
        }

        .custom-navbar.nav-link:hover {
            color: #007bff;
        }

        .material-symbols-outlined {
            margin-bottom: 2px;
            color: #FFDD00;
        }

        .carousel-control-prev,
        .carousel-control-next {
            width: 5%;
        }

        .carousel-control-prev:hover,
        .carousel-control-next:hover {
            background: none;
        }

        .footer {
            background-color: #000;
            color: #fff;
            padding: 20px 0;
        }

        .footer a:hover {
            color: yellow;
        }

        .card {
            background-color: #F4FCFF;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;
            width: 100%;
            border-radius: 5px;
            color: #000;
            height: 400px;
            overflow: hidden;
        }

        .card-img-top {
            width: 100%;
            height: 250px;
            object-fit: cover;
        }

        .card-body {
            padding: 20px;
        }

        .card-title-model,
        .card-title {
            font-size: 24px;
            margin-bottom: 10px;
        }

        .card-text {
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 10px;
        }

        .card:hover {
            transform: scale(1.02);
            transition: transform 0.3s ease-in-out;
        }

        .card-img-top i {
            position: absolute;
            top: 5px;
            right: 5px;
            font-size: 20px;
            color: rgb(0, 0, 0);
        }

        .container {
            margin-bottom: 50px;
        }
    </style>

</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <div class="navbar-brand-container d-flex align-items-center">
            <div class="navbar-brand" onclick="location.href='#'">Quartz
                <span class="material-symbols-outlined ms-2">watch_wake</span>
                Men</div>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <form class="form-inline mx-auto">
                <div class="input-group">
                    <input type="text" class="form-control border-0 rounded-pill bg-white text-black" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary rounded-pill" type="button">
                            <i class="fas fa-search text-white"></i>
                        </button>
                    </div>
                </div>
            </form>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa-solid fa-heart"></i>
                    </a>
                </li>
                <% if (loggedIn) { %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa-solid fa-user"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                        <a class="dropdown-item" href="#">Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>
                <% } else { %>
                <li class="nav-item">
                    <a class="nav-link" href="/signup"><i class="fa-solid fa-user"></i>Sign Up</a>
                </li>
                <% } %>
                <li class="nav-item">
                    <a class="nav-link" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="content">
        <!-- Your page content here -->
        <div class="container mt-5">
            <div class="row">
                <!-- First Card -->
                
                <% products.forEach((product) => {  %>
                <div class="col-md-3" onclick="location.href='/productdetail/<%= product._id %>';">
                    <div class="card">
                        <div class="card-img-top view-button" data-target=".view-text">
                            <i class="fa-regular fa-heart" type=""></i>
                            <img src="/uploads/<%= product.image[0] %>" alt="Product Image" class="card-img-top">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><%= product.brand %></h5>
                            <p class="card-text-model">Model: <%= product.name %></p>
                            <p class="card-text-price"><%= product.price %></p>
                        </div>
                        
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </div>

    <footer class="footer py-5 bg-black text-white">
        <div class="container">
            <div class="row">
                <!-- Column 1 -->
                <div class="col-md-4">
                    <h5>About Us</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed
                        cursus ante dapibus diam.</p>
                </div>
                <!-- Column 2 -->
                <div class="col-md-4">
                    <h5>Our Services</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed
                        cursus ante dapibus diam.</p>
                </div>
                <!-- Column 3 -->
                <div class="col-md-4">
                    <h5>Contact Us</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed
                        cursus ante dapibus diam.</p>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>
